<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <script src="https://kit.fontawesome.com/7afd67fc69.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  
  {{ style('main') }}

  <title>HEART RHYTHM DANCE</title>

  @!section('extracss') 
</head>
<body>
  <div class="main_content">
    <div class="logo_container">
      <a class="logo_btn" href="/"><h1 class="logo">HEART RHYTHM DANCE</h1></a>
    </div>
    <nav class="navigation_container">
      @loggedIn
        <div class="nav_top">
          <a class="nav_1" href="/blog">BLOG</a>
          <a class="nav_2" href="/{{ thisMonth() }}">CALENDAR</a>
          <a class="nav_4" href="/register">REGISTER</a>
          <a class="nav_3" href="/sign_out">SIGN OUT</a>
        </div>
        @if(auth.user.admin === true)
          <div class="nav_bottom">
            <a class="nav_7" href="/admin">ADMIN</a>
            <a class="nav_6" href="/your_registers">YOUR REGISTERS</a>
          </div>
        @else
          <div class="nav_bottom">
            <a class="nav_8" href="/your_registers">YOUR REGISTERS</a>
          </div>
        @endif
      @else
        <div class="auth_nav">
          <a class="nav_1" href="/create_user">CREATE USER</a>
          <a class="nav_5" href="/sign_in">SIGN IN</a>
        </div>
      @endloggedIn
    </nav>
  </div>
<div>
LoL Just why
</div>



  <div class="content_container">
    @!section('content')
  </div> 
</body>
</html>
