.column_labels_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 2em;
  margin-top: -3px;
}

.student_name_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.age_group_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.payment_method_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.payment_so_far_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.styles_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.username_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.gender_column{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.age_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.date_of_birth_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.contacts_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.name_of_parents_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.health_conditions_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.sign_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

.date_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 3.4px;
  color: white;
  font-size: 11px;
  width: 5.8em;
}

