.column_labels_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-top: -5px;
}

.extra_space_for_studentname {
  display: flex;
  justify-content: center;
  border-right: solid gray 2px;
  width: 5.7em;
}

.student_name_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 6em;
}

.age_group_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 3.3em;
}

.payment_method_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 5em;
}

.extra_space_for_paymentssofar {
  display: flex;
  justify-content: center;
  width: 6.5em;
  border-right: solid gray 2px;
}

.payments_so_far_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 7.5em;
}

.styles_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.username_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 6.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.gender_column{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 4.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.age_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.extra_space_for_dateofbirth {
  display: flex;
  justify-content: center;
  border-right: solid gray 2px;
  width: 5em;
}

.date_of_birth_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.contacts_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 6.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.name_of_parents_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 7.7em;
}

.health_conditions_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 2.8em;
  padding-top: 3px;
  font-size: 11px;
  width: 8.3em;
}

.sign_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-right: solid gray 2px;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.making_date_centered {
  display: flex;
  justify-content: center;
  width: 4em;
}

.date_column {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 3em;
  padding-top: 3px;
  font-size: 11px;
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.column_container {
  display: flex;
  flex-direction: row;
  background-color: gray;
  border-bottom: 2px solid black;
  height: 2em;
}

.student_name {
  display: flex;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
  border-right: solid black 2px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  height: 3.5em;
  width: 9.5em;
}

.age_group {
  display: flex;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
  border-right: solid black 2px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  height: 3.5em;
  width: 3.8em;
}

.payment_method {
  display: flex;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
  border-right: solid black 2px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  height: 3.5em;
  width: 5.8em;
}

.payments_so_far {
  overflow-y: scroll;
  border-right: solid black 2px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  height: 3.5em;
  width: 10.9em;
}











