.membership_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  font-size: 28px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: -17px;
  background-color: rgb(16, 190, 16);
  width: 31.7em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.faild {
  font-size: 28px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: -17px;
  background-color: rgb(245, 38, 38);
  width: 31.7em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.payments_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 95em;
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    .payments_wrapper {
      height: 118.5em !important;
    }
  }

.payment_container {
  display: flex;
  flex-direction: column;
  border: solid 4px black;
  margin-top: 1.5em;
  border-radius: 10px;
}

.top_two_columns {
  display: flex;
  flex-direction: row;
}

.top_two_columns img {
  border-radius: 7px 0px 0px 0px;
}

.top_right_column {
  display: flex;
  flex-direction: column;
}

.dance_type {
  align-self: center;
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  margin-left: 9px;
}

.payment_text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 600;
  width: 16em;
  text-align: start;
  margin-top: 25px;
  margin-left: 9px;
}

.pay_button {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-top: 4.7em;
  align-self: center;
  outline: none;
  text-decoration: none;
  color: black;
  background-color: rgb(0, 116, 212);
  padding: 5px;
  border-radius: 7px;
  font-weight: 800;
  margin-left: 9px;
}

.membership_payments_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 6.5em;
  overflow-y: scroll;
  background-color: black;
}

.membership_payment_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.membership_payment {
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 3px;
  margin-left: 4px;
  max-width: 36.3em;
  color: white;
}