.create_user_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_errors {
  font-size: 23px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: grey;
  max-width: 20em;
  width: 20em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.username {
  border: none;
  border-bottom: 3px solid black;
  width: 20em;
  outline: none;
  text-align: center;
  font-size: 23px;
  margin-top: 2em;
}

.username::placeholder {
  font-size: 26px;
}

.password {
  border: none;
  border-bottom: 3px solid black;
  width: 20em;
  outline: none;
  text-align: center;
  font-size: 23px;
  margin-top: 2em;
}

.password::placeholder {
  font-size: 26px;
}

.create_user_btn {
  font-family: 'Roboto Slab', serif;
  border: none;
  outline: none;
  background: none;
  color: white;
  margin-top: 25px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
}